.title {
    font-size: 45px;
    font-weight: 900;
    color: black;
    text-align: center;
}

div {
    height: 50px;
}

.красный {
    background: red;
}

.оранжевый {
    background: orange
}

.желтый {
    background: yellow
}

.зеленый {
    background: green
}

.голубой {
    background: cyan
}

.синий {
    background: blue
}

.фиолетовый {
    background: darkorchid
}